body {
    height: 100%;
    margin: 0;
      padding: 0;
      background-color: #B16941;
      background-image: url('../img/yellow.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
    }
  
  .container {
    position: relative;
    height: 96vh;
    padding-left: 20px;
    color: white;
  }

  h3 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h3 {
    position: relative;
    top: 8px;
    margin-left: 92%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
  }


  h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 5em;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
  }

  h2 {
    position: relative;
    font-size: 4em;
    margin-bottom: 60px; 
    margin-top: 100px;
  }
a{
  text-decoration: none;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 60%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}


h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 60%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

/*Media queries  */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
  
    h2 {
        font-size: 2em;
        margin-bottom: 80px;
        margin-top: 60px;
    }
  
    body {
        background-size: cover;
        background-position: center bottom;
    }
  
    h3 {
        font-size: 2em;
        top: 10px;
        margin-left: 88%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
  
    h2 {
        font-size: 1.5em;
        margin-bottom: 60px;
        margin-top: 40px;
    }
  
    body {
        background-size: cover;
        background-position: center bottom;
    }
  
    h3 {
        font-size: 1.5em;
        top: 5px;
        margin-left: 84%;
    }
  }
